<div class="modal-content-wrapper">
  <div class="modal-header">
    <h3 class="modal-title">{{ vm.title | translate }}</h3>
    <span class="modal-close" ng-click="vm.onDismiss ? vm.onDismiss() : $dismiss('cancel')">
      <i class="zmdi zmdi-close img-close"></i>
    </span>
  </div>
  <div class="modal-body">
    <div>{{ vm.text | translate }}</div>
    <input class="form-control" type="text" ng-model="vm.message">
  </div>
  <div class="modal-footer">
    <button ng-repeat="button in vm.buttons" class="btn {{ button.style }}"
            ng-class="{ 'btn-zmdi': !button.title, 'modal-mobile-hide': button.hideMobile }"
            ng-click="button.onClick()">
      <i ng-if="button.icon" class="zmdi zmdi-hc-fw zmdi-{{ button.icon }}"></i>
      {{ button.title | translate }}
    </button>
  </div>
</div>
