<div class="form-group">
  <label class="col-sm-2 control-label">{{:: 'APP.EXAMPLE.SETTINGS.DISPLAYNAME.STRING' | translate }}</label>
  <div class="col-sm-9">
    <input class="form-control" type="text" ng-model="model.settings.displayName">
  </div>
  <div class="col-sm-1 hidden-xs">
    <help tip="APP.EXAMPLE.SETTINGS.DISPLAYNAME.HELP"></help>
  </div>
</div>
